<% if errors_object.errors.any? %>
  <div class="row">
    <div class="span12">
      <div class="alert alert-error">
        <h5>Oops! Please fix the following errors:</h5>
          <ul>
            <% errors_object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
<% end %>
