<div class="page-header">
<h2>About Codefriends</h2>
</div>
<p>Codefriends was created to simply let developers freely share Rails articles on a variety of different categories. Come join us and have a good time...its free!</p>

<h3>About the Developer</h3>
<p>Hello, I'm Marco Roman and I developed this app. I'm a 24 year old Ruby on Rails app developer. I love coffee, Google Nexus products, Android, the Chicago Bulls, Blue Moon, technology/software and I love to code!</p><br/>

<a href="https://twitter.com/marcoroman89"><i class="fa fa-twitter"></i>  Twitter</a><br/>
<a href="https://plus.google.com/111566381963263017074/posts?partnerid=ogpy0"><i class="fa fa-google-plus"></i>  Google+</a><br/>
<a href="https://github.com/marcoroman89"><i class="fa fa-github-alt"></i> Github</a><br/>
<a href="http://www.gotealeaf.com/"><i class="fa fa-leaf"></i> Tealeaf Academy</p></a>
