<div class="span6">
  <div class="page-header">
  <h1>About Codefriends</h1>
  </div>
  <p>Codefriends was created to simply let developers freely share Rails articles on a variety of different categories. Come join us and have a good time...its free!</p>

  <h3>About the Developer</h3>
  <p>Hello, I'm Marco Roman and I developed this app. I'm a 24 year old Ruby on Rails app developer. I love coffee, Google Nexus products, Android, the Chicago Bulls, Blue Moon, technology/software and I love to code!</p>
</div>
