<div class="about_content">
  <div class="row">
    <div class="span6">
      <div class="page-header">
        <h2>About Codefriends</h2>
      </div>
      <p>Codefriends was created to simply let developers share Rails articles on a variety of different categories. Post some relevant articles and join our small community, you can even link your Github profile. Come join us and have a good time...its free!</p>
    </div>

    <div class="span6">
      <div class="page-header">
        <h2>About the Developer</h2>
      </div>
      <p>Hello, I'm Marco Roman and I developed this app. I'm a 24 year old Ruby on Rails app developer. I love coffee, Google Nexus products, Android, the Chicago Bulls, Blue Moon, technology/software and I love to code!</p>

      <a href="https://twitter.com/marcoroman89"><i class="fa fa-twitter"></i>  Twitter</a> /
      <a href="https://plus.google.com/111566381963263017074/posts?partnerid=ogpy0"><i class="fa fa-google-plus"></i>  Google+</a> /
      <a href="https://github.com/marcoroman89"><i class="fa fa-github-alt"></i> Github</a> /
      <a href="http://www.gotealeaf.com/"><i class="fa fa-leaf"></i> Tealeaf Academy</p></a>
    </div>
  </div>
</div>
