<div class="page-header">
<h2>About Codefriends</h2>
</div>
<p>Codefriends was created to simply let developers freely share Rails articles on a variety of different categories. Come join us and have a good time...its free!</p>

<h3>About the Developer</h3>
<p>Hello, I'm Marco Roman and I developed this app. I'm a 24 year old Ruby on Rails app developer. I love coffee, Google Nexus products, Android, the Chicago Bulls, Blue Moon, technology/software and I love to code!</p><br/>
<a href="https://twitter.com/marcoroman89"><i class="icon-fa-twitter" ></i> Twitter<br/>
<a href="https://plus.google.com/111566381963263017074/posts?partnerid=ogpy0" ><i class="icon-fa-google-plus"></i> Google+<br/>
<a href="https://github.com/marcoroman89"><i class="icon-fa-github" ></i> Github


