<div class="hero-unit">
  <h1>Welcome to CodeFriends! A Ruby on Rails online article sharing community where you can share interesting Rails articles on a variety of topics. Log in or sign-up to get started!</h1>
    <div class="home_btns">
      <%= link_to "Log in", login_path, class: "btn btn-default btn-large" %>
      <%= link_to "Sign up", register_path, class: "btn btn-primary btn-large" %>
    </div>
</div>
