<div class="jumbotron center">
  <h1>Welcome to my Postit Rails! A Ruby on Rails online community where one may freely share ideas on topics such as: design, development, deployment and learning resources.</h1>
    <p>
      <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>
