<div class="hero-unit">
  <h1>Welcome to CodeFriends! A Ruby on Rails online article sharing community where you can share interesting Rails articles on a variety of topics. Log in or sign-up to get started!</h1>
    <div class="home_btns">
      <%= link_to 'Login', login_path, class: "btn btn-large", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal" %>
      <%= link_to "Register", register_path, class: "btn btn-primary btn-large" %>
    </div>
</div>


  <div class="row">
    <div class="page-header design span3">
      <h2>Design</h2>
      <p>Join us and share some great design articles and tips. Wether you're using Twitter Bootstrap or Zurb Foundation or any other responsive grid system, let users know what's hot and whats not!</p>
    </div>

    <div class="page-header development span3">
      <h2>Development</h2>
      <p>Oh yes the sweet back-end development aspect of Rails! Now this is where the magic happens. Feel free to share topics on all things development...oh and yes front-end development is a must as well! </p>
    </div>

    <div class="page-header deployment span3">
      <h2>Deployment</h2>
      <p>Heroku is one of the most popular platforms of deployment for Rails users. Developers struggle at times deploying applications. Post something beneficial and help them deploy some apps.</p>
    </div>

    <div class="page-header learn span3">
      <h2>Learn</h2>
      <p>Learning resources can be overwhelming for new Rails developers. If you have attended a development bootcamp, please share your experince. Know some great learning material? Go Tealeaf Academy! </p>
    </div>
  </div>

