<%= render 'shared_partials/errors', errors_object: @post %>
<div class="page-header">
  <h2>Edit Post<small> - go ahead and do some editing!</small></h2>
</div>
<div class="well">
  <%= render 'form' %>
</div>
