<div class="page-header">
  <h2>Welcome<small> - <%= current_user.username %>, start posting!</small></h2>
</div>

<% @posts.each do |post| %>
  <div id="post_feed">
    <%= render 'post', post: post %>
  </div>
<% end %>
<%= will_paginate @posts %>

