<div class="page-header">
  <h2>Welcome<small> - <%= current_user.username %>, start posting!</small></h2>
</div>

<% @posts.each do |post| %>
  <div id="post_feed">
    <div class="row">
      <div class="span0">
        <div class="gravatar_post"><%= link_to image_tag(post.creator.gravatar_url), user_path(post.creator) %></div>
      </div>
      <div class="span10">
        <%= render 'post', post: post %>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @posts %>

