@import 'bootstrap';
@import 'font-icons';


/********** Generic Items **********/

body {
  padding-top: 60px;
}

body a:link {
  text-decoration: none;
 }

/********** Header **********/

.hero-unit {
  text-align: center;
  margin-top: 10px;
}

.home_btns {
  margin: 20px 0px;
}

/********** Nav-Menu **********/

.navbar .brand {
  color: #fff;
  text-shadow: none;
}

.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;

  background-color: #2d3538;

  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #999;
}

.navbar .nav .active > a {
  color: #999;
  background: none;
  box-shadow: none;
}

.navbar .nav .active > a:hover {
  background: none;
  box-shadow: none;
}

.navbar .divider-vertical {
  border-left: 1px solid #1c2022;
  border-right: 1px solid #3e4a4e;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2d3538;
  color: #999;
}

/********** Main Content **********/

/********** Footer **********/

 @import 'bootstrap-responsive';
