$baseFontFamily: Roboto;
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import 'bootstrap';
@import 'font-icons';


/********** Generic Items **********/

body {
  padding-top: 50px;
  margin-bottom: 80px;
}

body a:link {
  text-decoration: none;
 }

#flash_messages {
  margin-bottom: 15px;
 }

/********** Header **********/

.hero-unit {
  text-align: center;
}

.home_btns {
  margin: 25px 0px;
}

 #flash_messages {
  margin-top: 10px;
 }

/********** Nav-Menu **********/

.navbar .brand {
  color: #fff;
  text-shadow: none;
}

.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;

  background-color: #2d3538;

  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #999;
}

.navbar .nav .active > a {
  color: #999;
  background: none;
  box-shadow: none;
}

.navbar .nav .active > a:hover {
  background: none;
  box-shadow: none;
}

.navbar .divider-vertical {
  border-left: 1px solid #1c2022;
  border-right: 1px solid #3e4a4e;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2d3538;
  color: #999;
}

.navbar .nav .dropdown-toggle .caret {
  margin: 8px 0 0 8px;
}

/********** Main Content **********/

#post_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#post_feed:hover {
  background: #f6f9fa;
 }

#category_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#category_feed:hover {
  background: #f6f9fa;
 }

.page-header#category_header a {
  color: #333333;
 }

.page-header#category_header a:hover {
  color: #333333;
 }


#comment_feed {
  border-bottom: solid 2px #eeeeee;
  padding: 7px 7px;
  margin-bottom: 25px;
  margin-top: -25px;
 }

 #comment_feed:hover {
  background: #f6f9fa;
 }

 #create_comment {
  margin: 20px 0 25px;
  border-bottom: 2px solid #eeeeee;
 }

 #votes {
  padding:3px;
 }

 .muted {
  margin-left: 6px;
 }

 .page-header {
  margin: 20px 0 25px;
  border-bottom: 2px solid #eeeeee;

 }

 .badge {
  padding-bottom: 5px;
  background-color: #333333;
  margin-top: 5px;
 }

 .badge {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

/********** Footer **********/

.footer {
  text-align: center;
  padding: 3px;
}

.footer h6 {
  color: #999;
}

 @import 'bootstrap-responsive';
