$baseFontFamily: Roboto;
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import "bootstrap";
$btnPrimaryBackground: #3498db;


/********** Generic Items **********/

body {
  padding-top: 60px;
  margin-bottom: 100px;
}

body a:link {
  text-decoration: none;
 }

#flash_messages {
  margin-top: 20px;
 }

#glyphs {
  margin: 2px 6px 2px 0;
 }

 #glyphs_votes {
  margin: 2px 5px 2px 5px;
 }

 .well_register {
  min-height: 20px;
  padding: 59px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
 }

.gravatar_post img {
  margin-top: 40px;
  width: 70px;
  height: 70px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.gravatar_post_comments img {
  margin-right: 20px;
  margin-left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.gravatar_comment img {
  width: 45px;
  height: 45px;
  margin-top: 12px;
}

.gravatar_user_profile img {
  margin-top: -25px;
  margin-right: 20px;
  margin-left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.about_content {
  text-align: center;
}

.text-center {
  text-align: center;
}

/********** Header **********/

.hero-unit {
  text-align: center;
  padding: 40px;
}

.home_btns {
  margin: 30px 2px 0 2px;
}

.category_banner {
  text-align: center;
}

.design, .development, .deployment, .learn, {
  text-align: center;
}

/********** Nav-Menu **********/

.navbar .brand {
  color: #fff;
  text-shadow: none;
}

.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;

  background-color: #2d3538;

  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #999;
}

.navbar .nav .active > a {
  color: #999;
  background: none;
  box-shadow: none;
}

.navbar .nav .active > a:hover {
  background: none;
  box-shadow: none;
}

.navbar .divider-vertical {
  border-left: 1px solid #1c2022;
  border-right: 1px solid #3e4a4e;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2d3538;
  color: #999;
}

.navbar .nav .dropdown-toggle .caret {
  margin: 8px 0 0 8px;
}

/********** Main Content **********/

#post_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#post_feed:hover {
  background: #f6f9fa;
 }

#category_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#category_feed:hover {
  background: #f6f9fa;
 }

.page-header#category_header a {
  color: #333333;
 }

.page-header#category_header a:hover {
  color: #333333;
 }

#comment_feed {
  border-bottom: solid 2px #eeeeee;
  padding: 7px 7px;
  margin-bottom: 25px;
  margin-top: -25px;
 }

#comment_feed:hover {
  background: #f6f9fa;
 }

#create_comment {
  margin: 20px 0 25px;
  border-bottom: 2px solid #eeeeee;
 }

#post_feed_user_profile {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 7px 7px;
 }

#post_feed_user_profile:hover {
  background: #f6f9fa;
}

#comment_feed_user_profile {
  border-bottom: solid 2px #eeeeee;
  padding: 7px 7px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#comment_feed_user_profile:hover {
  background: #f6f9fa;
}

#user_profile_name {
  margin-bottom: 30px;
}

#votes {
  margin-left: -5px;
 }

.page-header {
  margin: 20px 0 25px;
  border-bottom: 2px solid #eeeeee;

 }

.badge {
  margin: 5px 5px 0 0;
  padding-bottom: 5px;
  background-color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 }

 .badge a {
  color: #fff;
 }

 .badge:hover {
  background-color: #0088cc;
 }

.button {
  margin-top: 3px;
}

/********** Footer **********/

.footer {
  text-align: center;
  padding: 3px;
  background-color: #2d3538;
}

.footer h6 {
  color: #999;
}

@import "bootstrap-responsive";
