<%= render 'shared_partials/errors', errors_object: @category %>
<div class="page-header" id="category_header">
  <h2><%= (link_to("All Posts", posts_path) + " &raquo; <small>#{@category.name}".html_safe)%></small></h2>
</div>

<% @category.posts.each do |post| %>
  <div id="category_feed">
    <div class="row">
      <div class="span0">
        <div class="gravatar_post"><%= link_to image_tag(post.creator.gravatar_url), user_path(post.creator) %></div>
      </div>
      <div class="span10">
        <%= render 'posts/post', post: post %>
      </div>
    </div>
  </div>
<% end %>
